.container__movieSelected {
    display: flex;
    border: 1px solid black;
}

.content__title {
    margin: 8px;
}

.content__main {
    width: 320px;
    margin: 8px;
}

.item__movieSelected {
    width: 300px;

    text-align: end;
}

.item__description {
    text-align: start;
}

.button__movie {
    display: inline-block;
    position: relative;
    width: 80px;
    margin: 12px;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    transition: color .2s;
    color: #222;
}

